@{
    ViewData["Title"] = "About";
}



<div class="jumbotron text-center" style="background-color:#FFDA85" style="margin-bottom:0">
  <h2>Come and join us!</h2>
  <p>
    The Buffteks meet every Wednesday Night at 5:30 PM in Classroom Center 205 on the West Texas A&M University Campus in Canyon, Texas
  </p>
  <p><a class="btn btn-primary" role="button" href="Contact">Learn more</a></p>
</div>



<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Buffteks Advisor</h2>
    <div class="jumbotron text-center" style="margin-bottom:0">
      <div class="p-3 mb-2 bg-secondary text-white">
        <img src="~/images/DrBabb.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>

      <ul class="nav nav-pills flex-column">

        <li class="nav-item">
          <a class="nav-link" href="jbabb@wtamu.edu">Email:jbabb@wtamu.edu</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Phone:806-651-2444</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Office:Classroom Center 208H</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">

      <h1>Why Choose Buffteks</h1>
      <br/>
      <h2>Help Us Learn</h2>
      <div class="fakeimg"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat egestas erat, a efficitur erat rhoncus sed. Nam a vehicula erat, quis viverra nisl. Nulla viverra dictum urna, nec efficitur enim facilisis in. Fusce tincidunt vehicula massa. Integer nec ante diam. Ut tincidunt leo sit amet justo mattis, at cursus libero feugiat. Morbi placerat nibh lorem, a facilisis purus faucibus vel. Aliquam erat volutpat.</p>
      <br>
      <h2>Help Us Give</h2>
      <div class="fakeimg"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat egestas erat, a efficitur erat rhoncus sed. Nam a vehicula erat, quis viverra nisl. Nulla viverra dictum urna, nec efficitur enim facilisis in. Fusce tincidunt vehicula massa. Integer nec ante diam. Ut tincidunt leo sit amet justo mattis, at cursus libero feugiat. Morbi placerat nibh lorem, a facilisis purus faucibus vel. Aliquam erat volutpat.</p>
      <br>
      <h2>Help Us Grow</h2>
      <div class="fakeimg"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat egestas erat, a efficitur erat rhoncus sed. Nam a vehicula erat, quis viverra nisl. Nulla viverra dictum urna, nec efficitur enim facilisis in. Fusce tincidunt vehicula massa. Integer nec ante diam. Ut tincidunt leo sit amet justo mattis, at cursus libero feugiat. Morbi placerat nibh lorem, a facilisis purus faucibus vel. Aliquam erat volutpat.</p>
      
    </div>
  </div>
</div>

 <br>
 
<div class="jumbotron text-center" style="margin-bottom:0">

  
</div>