@{
    ViewData["Title"] = "Contact";
}


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

    <div class="p-3 mb-2 bg-secondary text-white">
        <img src="~/images/wtamu.jpg" class="img-fluid" alt="Responsive image">
    </div>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
