@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Buffteks Website</h1>
</div>
 
 <h3>Welcome to the Buffteks</h3>
 
 <p class>
    We are interested in helping students and the communities meet their web and mobile needs.  If you are a student, join us in improving your skills.  If you are in the local panhandle community and have a website, web application, or mobile application need, contact us and see how you can help students reach their educational goals.
 </p>
